<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Around</servlet-name>
		<servlet-class>gozolabs.com.AroundServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Around</servlet-name>
		<url-pattern>/around</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DoImageServlet</servlet-name>
		<servlet-class>gozolabs.com.DoImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoImageServlet</servlet-name>
		<url-pattern>/doimage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>gozolabs.com.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SendServlet</servlet-name>
		<servlet-class>gozolabs.com.SendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendServlet</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>gozolabs.com.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/docategory</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddressServlet</servlet-name>
		<servlet-class>gozolabs.com.AddressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressServlet</servlet-name>
		<url-pattern>/doaddress</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoyaltyPromotionServlet</servlet-name>
		<servlet-class>gozolabs.com.LoyaltyPromotionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoyaltyPromotionServlet</servlet-name>
		<url-pattern>/doloyaltypromotion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PromotionServlet</servlet-name>
		<servlet-class>gozolabs.com.PromotionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PromotionServlet</servlet-name>
		<url-pattern>/dopromotion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MerchantServlet</servlet-name>
		<servlet-class>gozolabs.com.MerchantServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MerchantServlet</servlet-name>
		<url-pattern>/domerchant</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>around.jsp</welcome-file>
	</welcome-file-list>
</web-app>
